body.checkers {
	background-color: blue;
	background: url('../images/ur2.png');
	background-position: center;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body.checkers #main {
  display: block;
}
  body.checkers.playing #main {
    display: none;
  }

body.checkers #board-container {
  display: none;
  width: 100%;
}
  body.checkers.playing #board-container {
    display: block;
  }

#banner {
	font-family: 'proxima-nova', sans-serif;
	font-size: 80px;
	color: white;
	letter-spacing: 2px;
	text-align: center;
	width: 960px;
	margin: 40px auto 0 auto;
}

#debug-display-square {
	font-family: 'proxima-nova', sans-serif;
	font-size: 24px;
	color: #42414A;
	text-align: center;
  width: 100%;
}

#game {
	margin: 80px auto 0 auto;
	text-align: center;
}

/* board */

#board {
	height: 440px;
	width: 425px;
  margin: 20px auto 50px auto;
	padding: 0px;
	opacity: .8;
  border: 3px solid #FFF;
}

.row {
  height: 55px;
}

.row:after {
  clear: both;
}

.square {
  width: 53px;
  height: 55px;
  padding: 0;
  margin: 0;
  float: left;
}

  .square.legal {
    background-color: rgba(0,0,0,0.77);
  }

  .square.illegal {
    background-color: rgba(255,255,255,0.34);
  }

  .square.legal.highlight {
    border: 2px dotted yellow;
    width: 49px;
    height: 51px;
  }

  .piece_1 {
    border-radius: 50%;
    width: 42px;
    height: 42px;
    background-color: green;
    display: block;
    position: relative;
    top: 7px;
    left: 6px;

    color: white;
    font-size: 24px;
    font-family: helvetica;
    text-indent: 12px;
    line-height: 45px;
  }

  .piece_2 {
    border-radius: 50%;
    width: 42px;
    height: 42px;
    background-color: red;
    display: block;
    position: relative;
    top: 7px;
    left: 6px;

    color: white;
    font-size: 24px;
    font-family: helvetica;
    text-indent: 12px;
    line-height: 45px;
  }

#move-banner {
  width: 500px;
  margin: auto;
  text-align: center;
}

#move_player_1 {
  color: green;
}
  #move_player_1.current_move {
    border-bottom: 2px solid green;
  }

#move_player_2 {
  color: red;
}
  #move_player_2.current_move {
    border-bottom: 2px solid red;
  }

.scoreboard-row {
  width: 500px;
  margin: auto;
}

.scoreboard {
  background-color: #FAFAFA;
  width: 200px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid black;
  float: left;
}

#scoreboard-player-1 {
  margin-right: 100px;
}


.clear {
  clear: both;
}
